# Ignorer tous les fichiers et dossiers par défaut
*

# Ne pas ignorer le dossier ctkAPP
!ctkAPP/
!ctkAPP/**

# Ignorer l'environnement virtuel (par exemple si c'est dans un dossier venv ou .venv)
venv/
.venv/

# Ignorer les fichiers spécifiques à Python
*.pyc
__pycache__/

# Ignorer les fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorer les fichiers liés à la gestion des dépendances
Pipfile
Pipfile.lock
requirements.txt
